body{
	
	background-color: pink; /*Example bg name color for whole page */
	color: #333;
}
h1{
	font-family: Arial, sans-serif;
	align-content: center;
	font-size: 100px;
	color: rgb(255, 87, 51); /* Example of using rgb color for text */

}

.black-line { /* class example */
border: 10px solid black;
}

#top { /* Example of ID Selector*/
	font-size: 625%; /* font size example*/
	font-family: 'Open Sans', sans-serif;
	color: #8A2BE2; /* Hex example */
}

p{
	font-family: Times New Roman, serif;
	font-size: 2.5em; 
	background-color: white; 
	margin: 0;" 
}

ul{
	font-size: 40px; background-color: white; margin: 0;
	font-family: 'Courier New', monospace;
	font-style: oblique 20deg; /*oblique*/
	text-transform: lowercase; /*lowercase*/
	text-transform: capitalize;/*capitalize*/
}

table{
	width:900px;
	cellpadding: 50px;
	cellspacing: 50px;
	border: 10px solid black;
	background-color: white;
	font-weight: bold; /*bold*/
	text-transform: uppercase; /* uppercase */
}
.strike-through {
  font-family: Times New Roman, serif;
  font-size: 2.5em;
  background-color: white;
  margin: 0; /* Remove the extra double quote here */
  text-decoration: line-through;
}
